html, body{
    height:100%;
    }
    
    
    
    header{
         display:flex;
         border: solid black 1px;
         color: blue;
         justify-content: space-between;
         
         max-height:1000px;
         height:100%;
         min-height:600px;
         
    }
    
    div{
         display: grid;
         border: solid black 1px;
        
    }
     
    .lado{
         width: 138px;
         
         height: 100%;
    }
    .meio{
         width: 100%;
         height: 100%;
         display: flex;
         justify-content: space-between;
         flex-direction: column;
        }
    #cima{
         border: solid red 1px;
         height: 100px;
         display:flex;
         justify-content: space-between;
         
    }
    #layout{
         border: solid blue 1px;
         width:100%;
         max-width: 150px;
         display:flex;
         justify-content:space-around;
         height:100px;
    }
    #meio2{
         border: solid red 1px;
         height: 360px;
         display:flex;
         justify-content: space-between;
        }
        #ladoDir{
            border: solid purple 1px;
            height: 100%;
            max-width: 1000px;
            width:100%;  
            display:flex;
            justify-content: space-between;
            flex-direction:column;  
       }
       #cima2{
            border: solid green 1px;
            height:80px;
       }
       #meio4{
            border: solid green 1px;
            height:100%;
            max-height:150;
       }
       #void{
            border: solid green 1px;
            height:32px;
       }
       #void2{
            border: solid green 1px;
            height:48px;
            display:flex;
            justify-content:space-around;
       }
       #void3{
            border: solid green 1px;
            height:88px;
            display:flex;
            justify-content:space-around;
       }
       #buscar{ 
         width:100%;
         max-width:232px;
         height:48px;
         font-size:10px;
         margin:px;
       }
       #baixo2{
            border: solid green 1px;
            height:80px;
       }
       
       #meio3{
            border: solid purple 1px;
            height: 100%;
            max-width:220px;
            width:100%;
            display:flex;
            justify-content: space-between;
            flex-direction:column;  
           }
       #ladoEsq{
            border: solid purple 1px;
            height: 100%;
            max-width: 1000px;
            width:100%;
            background-color:rgb(213, 252, 254);
       }
    #baixo{
         border: solid red 1px;
         max-height: 64px;
         height:100%;
        
    }
    #baixofooter{
         border: solid black 1px;
         height: 150px;
         display: flex;
         justify-content:space-between;
         
    }
    #footer{
    width:200px; 
    
    }
    #C{
       height:200px;
    }